<!DOCTYPE html>
<html ng-app='routingDemoApp'>
	<head>
		<title>UI Router</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
		<script src="app.js"></script>
		<base href="/">
	</head>
	<body ng-controller="MainCtrl as vm">
	<div class="container">
		<h3>GitHub REST API</h3>
		<label for="enter">Enter the Username:</label>
		<input type="text" ng-model="user.name" placeholder="Username" name="enter">
		<button ng-click="vm.fetchdata(user)">Submit</button>
		<h4 ng-if="vm.loading===true">Loading...</h4>
		<nav class="navbar navbar-expand-sm bg-light">
			<ul class="nav navbar-nav">
				<li class="nav-item"><a class="nav-link" ui-sref="profile">Profile</a></li>
				<li class="nav-item"><a class="nav-link" ui-sref="repositories">Repositories</a></li>
			</ul>
		</nav>
		<div class="row">
			<div class="span12">
				<div class="well" ui-view></div>
			</div>
		</div>
	</div>
	</body>
</html>